<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <style>
      body {
        background-color: linen;
      }
      h1 {
        color:#89867e;
      }
      .activity{
        display: block;
        margin: 0 auto;
        width:80%
        text-align: center;
        border-bottom: 1 px solid black;
      }
    </style>
  </head>
  <body>
    <h1>Hello, <%= @user.name %></h1>
    <p>
        <%  @activities.each do |activity| %>
        <%= activity.inspect  %>
          <% case activity.key %>
          <% when "comment.create" %>
            <div class="activity">
              <%= activity.owner.name %> wrote a new comment on <%= link_to(activity.trackable.document_name, user_document_image_path(activity.trackable.user_id,activity.trackable.document_id,activity.trackable.image_id))%>

            </div>
          <% when "document.create" %>
            <div class="activity">
              <%= activity.owner.name %> created a new document: <%= link_to(activity.trackable.title, user_document_path(activity.trackable.user_id, activity.trackable.id)) %>
            </div>
          <% when "image.create" %>
            <div class="activity">
              <%= activity.owner.name %> Uploaded a new version of <%= link_to(activity.trackable.document_name, user_document_path(activity.trackable.user_id, activity.trackable.document_id)) %>
            </div>
          <% else %>
          <% end %>

        <% end %>
    </p>
    <p>
      <a href="http://localhost:3000/activities"> Click here to see your complete activity log </a>
    </p>
  </body>
</html>
