<!DOCTYPE html>
<html>
<head>
  <title>ReviewApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="header" class="row">
  <div class="col-xs-2">
    <p id="back_button"><%= yield :backButton %></p>
  </div>
  <div class="col-xs-8">
    <h4 id="title" style="text-align:center;"> <%= yield :title %> </h4>
  </div>
  <div class="col-xs-2">
    <p id="sign_out_button" style=""><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></p>
  </div>
</div>

<div class="container" style="padding-bottom:30px;">
  <p class="notice" style="text-align:center"><%= notice %><%= alert %></p>
  <p class="alert"></p>
  <%= yield %>
</div>




<% if user_signed_in? %>

<% end%>

</body>
</html>
